/* Ensure the section takes up the full width */
section {
    margin-bottom: 2rem;
    width: 100%; /* Ensure the section takes up the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Ensure the album grid takes up the full width */
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive columns */
    width: 100%; /* Ensure the grid takes up the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    justify-items: center; /* Center items horizontally */
}

/* Style for individual album items */
.album {
    background-color: black; /* Dark background for album entries */
    border: 1px #694EFF;
    border-style: outset; /* Add a double border */
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

/* Hover effect for album items */
.album:hover {
    background-color: #FF383F; /* Change background color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add a box shadow on hover */
}

/* Ensure album images are responsive */
.album img {
    max-width: 100%;
    height: auto;
}

/* Style for album title */
.album-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #FFFFA3; 
}

/* Style for album release date */
.album-release-date {
    font-size: 0.8rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

/* Style for album release number */
.album-release-number {
    font-size: 0.6rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

.album-artist {
    font-size: 1.4rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

.album a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the entire album entry clickable */
}

h1 {
    color: #FFFFA3;
}

main {
    padding: 1rem;
    padding-top: 6rem; /* Add padding to prevent content from being hidden behind the fixed header */
    padding-bottom: 6rem; /* Add padding to prevent content from being hidden behind the fixed footer */
    flex: 1; /* Allow main content to grow and fill the available space */
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start;
}

.album-cover {
    width: 100%; /* Make the image responsive */
    max-width: 700px; /* Limit the maximum size */
    min-width: 200px;
}