main {
    padding: 1rem;
    padding-top: 6rem; /* Add padding to prevent content from being hidden behind the fixed header */
    flex: 1; /* Allow main content to grow and fill the available space */
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start;
}

h1 {
    color: #FFFFA3;
}

h3 {
    color: #FF383F;
}

.album-release-date {
    font-size: 0.8rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

.album-release-number {
    font-size: 0.6rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

.album-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #FF383F; 
}

.back-link {
    display: block;
    margin: 1rem 0;
    color: #694EFF;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

.album-credits {
    color: #FFFFA3;
}

.credit-name {
    color: #694EFF;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* New styles for the album detail layout */
.album-detail-container {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    align-items: flex-start;
    gap: 2rem; /* Space between the album cover and details */
    padding: 1rem; /* Add padding around the container */
    padding-top: 6rem; /* Add padding to prevent content from being hidden behind the fixed header */
    padding-bottom: 6rem; /* Add padding to prevent content from being hidden behind the fixed footer */
    width: 100%; /* Limit the width of the album detail container */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.album-cover {
    width: 100%; /* Allow the album cover to take full width */
    max-width: 500px; /* Set a maximum width for the album cover */
    height: auto; /* Maintain aspect ratio */
    padding: 1rem; /* Add padding around the album cover */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.album-info {
    flex: 1; /* Allow album info to grow and fill the available space */
    padding: 1rem; /* Add some padding for better readability */
}

.album-description {
    flex: 1; /* Allow album description to grow and fill the available space */
    color: #FFFFA3;
}

/* Media query for smaller screens */
@media (max-width: 1280px) {
    .album-detail-container {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        padding-left: 1rem; /* Add padding to the left */
        padding-right: 1rem; /* Add padding to the right */
    }

    .album-cover {
        margin: 0 auto; /* Center the album cover */
    }

    .album-info .album-description {
        width: 100%; /* Allow album info to take full width */
    }
    .streaming-buttons a {
        max-width: none; /* Remove the maximum width for the buttons */
    }
}

.album-artist {
    font-size: 1.4rem;
    color: #FFFFA3; 
    margin: 0.5rem 0;
}

.album-cover {
    width: 100%; /* Make the image responsive */
    max-width: 700px; /* Limit the maximum size */
    min-width: 200px;
    margin-right: 2rem; /* Add some space between the image and the text */
    margin-left: 2rem; /* Add some space to the left */
}

.album-info h2 {
    color: #FFFFA3;
}

.track-list {
    list-style: none;
    padding: 0;
}

.track-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.track-number {
    color: #694EFF; /* Match the blue color used on the page */
    margin-right: 0.5rem; /* Add a gap between the number and the track name */
}

.track-name {
    flex: 1;
    color: #FFFFA3;
}

.timestamp {
    width: 50px; /* Adjust the width as needed */
    text-align: right;
    color: #694EFF;
    margin-left: 0.5rem; /* Reduce the margin to move it closer to the track name */
}

/* New styles for the streaming buttons */
.streaming-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    justify-content: center; /* Center the buttons */
}

.streaming-buttons a {
    padding: 0.5rem 1rem;
    background-color: #694EFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    flex: 1 1 auto; /* Allow buttons to grow and shrink */
    text-align: center; /* Center the text */
    max-width: 200px; /* Set a maximum width for the buttons */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.streaming-buttons a:hover {
    background-color: #4a3db8; /* Change color on hover */
}

/* Media query for screens below 1200px */
@media (max-width: 1200px) {
    .streaming-buttons a {
        max-width: none; /* Remove the maximum width for the buttons */
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .album-detail-container {
        flex-direction: column; /* Arrange items in a column */
        align-items: center; /* Center items horizontally */
        text-align: left; /* Center text */
    }

    .album-cover {
        padding: 0; /* Remove padding around the album cover */
    }

    .album-info {
        padding: 1rem 0; /* Adjust padding for better readability */
    }
}